*{
    font-family: 'Open Sans', sans-serif;
    background: antiquewhite;
}

.headerTitle {
    text-align: center;
}

.inputBox {
    background-color: white;
    color: grey;
    height: 30px;
    width: 150px;
}
.searchButton {
    background-color: white;
    height: 200px;
    width: 100px;
}

.previousResults, nextResults {
    background-color: darkcyan;
    color: black;
}

.round {
    border-radius: 60%;
}

a:hover {
    background-color: coral;
    color: black;
}

.hidden {
    display: none;
}

